In [1]:
import os
import sys

sys.path.insert(0, f'{os.environ.get("HOME")}/workspace/recommendation-study')

In [2]:
from util.data import DataLoader

In [3]:
data_loader = DataLoader().load()

train_df = data_loader.train
test_df = data_loader.test

In [4]:
print(len(train_df))
print(len(test_df))
train_df.head()

127830
5000

,user_id,movie_id,rating,timestamp,title,genre,tag
1,139,122,3.0,974302621,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem..."
2,149,122,2.5,1112342322,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem..."
3,182,122,3.0,943458784,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem..."
4,215,122,4.5,1102493547,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem..."
6,281,122,3.0,844437024,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem..."

In [6]:
import numpy as np

train_stats = train_df.groupby(['movie_id', 'title']).agg({'rating': [np.size, np.mean]})
train_stats.head()

                                            rating
                                              size      mean
movie_id title
1        Toy Story (1995)                      375  4.022667
2        Jumanji (1995)                        155  3.187097
3        Grumpier Old Men (1995)               111  3.225225
4        Waiting to Exhale (1995)               19  2.789474
5        Father of the Bride Part II (1995)    114  3.131579

In [15]:
# 평점이 높은 순서로 나열
train_stats = train_stats.sort_values(by=('rating', 'mean'), ascending=False)
train_stats.head()

                                                            rating
                                                              size mean
movie_id title
4095     Cry Freedom (1987)                                      1  5.0
5194     Who's Singin' Over There? (a.k.a. Who Sings Ove...      1  5.0
6271     Day for Night (Nuit AmÃ©ricaine, La) (1973)             1  5.0
55063    My Winnipeg (2007)                                      1  5.0
5118     Heartbreak Kid, The (1972)                              1  5.0

In [18]:
at_least = train_stats['rating']['size'] >= 100
train_stats = train_stats[at_least].sort_values(by=('rating', 'mean'), ascending=False)
train_stats.head(10)

                                                            rating
                                                              size      mean
movie_id title
318      Shawshank Redemption, The (1994)                      424  4.491745
50       Usual Suspects, The (1995)                            334  4.459581
912      Casablanca (1942)                                     163  4.444785
904      Rear Window (1954)                                    129  4.441860
2019     Seven Samurai (Shichinin no samurai) (1954)           104  4.408654
858      Godfather, The (1972)                                 286  4.393357
527      Schindler's List (1993)                               358  4.381285
1233     Boat, The (Das Boot) (1981)                           113  4.376106
1207     To Kill a Mockingbird (1962)                          118  4.364407
750      Dr. Strangelove or: How I Learned to Stop Worry...    158  4.357595