In [2]:
import os
import sys

sys.path.insert(0, f'{os.environ.get("HOME")}/workspace/recommendation-study')

In [5]:
from util.data import DataLoader

In [29]:
data_loader = DataLoader().load()

train_df = data_loader.train
test_df = data_loader.test

In [33]:
print(len(train_df))
print(len(test_df))
train_df.head()

127830
5000

,user_id,movie_id,rating,timestamp,title,genre,tag,rating_order
1,139,122,3.0,974302621,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem...",408.0
2,149,122,2.5,1112342322,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem...",84.0
3,182,122,3.0,943458784,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem...",1104.0
4,215,122,4.5,1102493547,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem...",320.0
6,281,122,3.0,844437024,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem...",42.0